.git
.env
.idea
.thumb
.vscode
.DS_STORE

build/*
node_modules

!build/.gitignore

public/uploads/*
!public/uploads/movies
!public/uploads/actors
!public/uploads/movies.zip
!public/uploads/actors.zip
